1. #Impulsivity and Reaction Time Analysis

2. #We used Barrat Impulsiveness Scale From the Experiment Factory to Measure Impulsivity and a Simple Reaction Time Task to measure Reaction Time.

3. #13 participants took place in the tasks.

4. #Then using Spss we computed variables to make a total for every task we used for the experiment.Then using the Pearson R correlation coefficient we tried to see if this correlation exists.

5. #The results showed that we should reject the research hypothesis and axcept the null hypothesis beacause the results were no significant in the point of.005 that we wanted on the beggining of the research.

6. #In fact we found r(11)= 0,12, p<969